{% extends '_base.html.twig' %}

{% block title %}Student codes{% endblock %}

{% block main %}

    <h1>STUDENT - Links Page</h1>

    <p>
        (access for STUDENT users only)
    </p>

{% endblock %}
