{% extends '_base.html.twig' %}

{% block title %}student home{% endblock %}

{% block main %}

    <h1>STUDENT - Home page</h1>
    <h2>welcome to the student section of the website</h2>

    <p>
        View/search REFs in collections
    </p>
    <li>
        own collections
    </li>
    <li>
        shared from others
    </li>
    <li>
        all public NURLs
    </li>

    <p>search by:</p>
    <li>
        matching one or more tags
    </li>
    <li>
        free text content search
    </li>
    <li>
        by date range(created/last edit)
    </li>
    <p>
        can CRUD personal tags
    </p>
    <p>
        can CRUD own REFs and collections and tags
    </p>
    <p>
        up/down vote list of proposed new tags (registered users votes count as 5 votes)
    </p>
    <p>
        can SAVE a BIB
    </p>
    <li>
        can CRUD BIBs
    </li>
    <li>
        can share a BIB with other users
    </li>
    <p>can update profile</p>
    <li>
        EXTRA marks - upload of profile picture
    </li>
    <li>
        can make profile public / private (user name is always public for public NURLs)
    </li>

{% endblock %}