{% extends '_base.html.twig' %}

{% block title %}student home{% endblock %}

{% block main %}

    <h1>STUDENT - Home page</h1>
    <h2>welcome to the student section of the website</h2>


{% endblock %}