{% extends '_base.html.twig' %}

{% block title %}admin home{% endblock %}

{% block main %}

    <h1>ADMIN - Home page</h1>
    <h2>welcome to the secure section of the website</h2>

    <p>
        (access for ADMIN users only)
    </p>
    <p>
        can CRUD student and lecturer and admin accounts
    </p>
    <p>
        AJAX feature - REF and BIB searchers
    </p>
    <p>
        you are to demonstrate the use of PHP generating JSON to be requested and received by an AJAX script
    </p>
    <p>
        The feature to illustrate the use of AJAX is as follows:
    </p>
    <li>
        search criteria (so new criteria are used to make an AJAX request and then re-populate the data on screen)
    </li>
    <lu>
        e.g. search by tag / author / free text / clear all search criteria
    </lu>
{% endblock %}