{% extends '_base.html.twig' %}

{% block title %}Lecturer codes{% endblock %}

{% block main %}

<h1>LECTURER - Codes page</h1>

<p>
    (access for lecturerusers only)
</p>

<p>
    here are today's spy codes:
</p>


<ul>
    <li>
        Q: Excuse me, do you have the time
        <br>
        A: Yes thanks, I can tell the time from my nice Apple Watch
    </li>

    <li>
        Q: Are you planning anything nice for the Easter holiday?
        <br>
        A: Yes thanks, I'm visiting North Korea to take some money out of the bank
    </li>
</ul>

{% endblock %}
