{% extends '_base.html.twig' %}

{% block title %}lecturer home{% endblock %}

{% block main %}

    <h1>LECTURER - Home page</h1>
    <h2>welcome to the lecturer section of the website</h2>


{% endblock %}