{#----------------#}
{# templates/_base.html.twig #}
{#----------------#}

{# -------- attempt to retrieve object 'user' from inside the session #}
{% set user = app.session.get('user') %}

{# -------- attempt to retrieve item with key 'username' from object 'user' from inside the session #}
{% if user is defined %}
    {% if user['username'] is defined %}
        {% set username = user['username'] %}
    {% endif %}
{% endif %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>MGW - {% block pageTitle %}{% endblock %}</title>
    <style>
        @import '/css/style.css';
    </style>
</head>
<body>

<!-- login header -->
<header>


    <!-- nav -->
    <nav>
        <ul>
            <lu>
                <a href="/">Home</a>
            </lu>
            <lu>
                <a href="/refs">REFs</a>
            </lu>
            <lu>
                <a href="/newRefs">Submit New REFs</a>
            </lu>
            <lu>
                <a href="/tags">Tags</a>
            </lu>
            <lu>
                <a href="/lecturerBibs">Lecturer BIBs</a>
            </lu>
            <lu>
                <a href="/about">About</a>
            </lu>


            {# --------- secure links - only if logged in ----------- #}
            {% if username is defined %}
                <lu>
                    <hr>
                    <a href="/admin">Secure Admin - Home</a>
                </lu>

                <lu>
                    <a href="/admin/codes">Admin Links</a>
                </lu>
                <lu>
                    <a href="/lecturer">Lecturer - Home</a>
                </lu>
                <lu>
                    <a href="/lecturer/codes">Lecturer - Links</a>
                </lu>
                <lu>
                    <a href="/student">Student - Home</a>
                </lu>
                <lu>
                    <a href="/student/codes">Student - Links</a>
                </lu>
            {% endif %}

        </ul>
    </nav>

    <!-- login / logout -->
    <section>
        {% if username is defined %}
            you are logged in as: {{ username }}
            <br>
            <a href="/logout">logout</a>
        {% else %}
            <a href="/login">login</a>
        {% endif %}
    </section>


</header>

<hr>

{% block main %}
{% endblock %}

</body>
</html>
