<!DOCTYPE html>
<html>
<head>
    <title>simple JSON</title>
    <meta charset="UTF-8">
    <!-- ********* can load JS before HTML body/DOM - since not used until button clicked ****** -->
    <script src="js/ajax.js"></script>
</head>
<body>

<h1>Shopping today</h1>

<button type="button" onclick="loadJSON(1)">load menu 1</button>
<br>
<button type="button" onclick="loadJSON(2)">load menu 2</button>
<br>
<button type="button" onclick="loadJSON(3)">load menu 3</button>

<div id="mainContent">

</div>

</body>
</html>
