{% extends '_base.html.twig' %}

 {% block pageTitle %}Home Page{% endblock %}

 {% block main %}

     <h1>BIBs, REFs and TAGs</h1>

     <p>
         Some useful links.
     </p>

     <ul>
         <li>
             <a href="/list">Users, Passwords and User Roles</a>
         </li>
         <li>
             <a href="/cartList">REFs</a>
         </li>
     </ul>

 {% endblock %}
