{% extends '_base.html.twig' %}

 {% block pageTitle %}home page{% endblock %}

 {% block main %}

     <h1>BIBs, REFs and TAGs</h1>

     <p>
         All the links you need
     </p>

     <ul>
         <li>
             <a href="/list">List</a>
         </li>
         <li>
             <a href="/cart">Cart</a>
         </li>
     </ul>

 {% endblock %}
