{% extends '_base.html.twig' %}

 {% block pageTitle %}list page{% endblock %}

 {% block main %}

     <h1>Users</h1>

     <table>
         <tr>
             <th>Username</th>
             <th>Password</th>
             <th>Role</th>
         </tr>
         {% for user in users|sort|reverse %}
             <tr>
                 <td>{{ user.username }}</td>
                 <td>{{ user.password }}</td>
                 <td>{{ user.role }}</td>
             </tr>
         {% endfor %}
     </table>

     <p>
         <strong>User Roles:</strong>
         <br>
         2 = Student
         <br>
         3 = Lecturer
         <br>
         4 = Admin
     </p>

 {% endblock %}
