{% extends '_base.html.twig' %}

 {% block pageTitle %}Login page{% endblock %}

 {% block main %}

     {% if errorMessage is defined %}
         <p class="error">
             {{ errorMessage }}
         </p>

         <hr>
     {% endif %}

<form
    action="/processLogin"
    method="POST"
    >

    <p>
        username:
        <input type="text" name="username">
    </p>

    <p>
        password:
        <input type="password" name="password">
    </p>

    <input type="submit" value="login">

</form>

 {% endblock %}
