{% extends '_base.html.twig' %}

 {% block pageTitle %}Public Page{% endblock %}

 {% block main %}

<h1>Public Page</h1>
<p>
    <li>
        proposed new tags
    </li>
    <li>
        up/down vote list of proposed new tags
    </li>
    <li>
        propose new candidate tag
    </li>
    <li>
        submit suggestions for new REF (goes into 'pending' list for site moderators to accept / reject)
        <ul>
            REF content + tags + text summary
        </ul>
    </li>
    <li>
        add REFs to shopping basket reference list (a BIB)
        <li>
            can change order of items in BIB
        </li>
    </li>
    <li>
        can export BIB as a List of References Text File
        <ul>
            style 1 - Harvard
        </ul>
        <ul>
            style 2 - [1],[2], sequence
        </ul>
    </li>
    <li>
        export as JSON(Advanced feature)
    </li>
</p>

 {% endblock %}
